<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/chat.css">
    <title>채팅채팅채팅</title>
</head>

<body>
    <div class="container-fluid vh-100 bg-light">
        <div class="bg-primary rounded-pill col first-section d-flex justify-content-center align-items-center" style="height: 7%;">
            <span class = "fw-bold text-white" id="roomId"> <%= roomId %> </span>
            <span id="nickname" style="display: none;"> <%= nickname %> </span>
        </div>
        <!--채팅 목록-->
        <div class=" col second-section" style="height: 83%; overflow-y: scroll;">
            <div class="wrapper">
                <ul id="chattingList"></ul>
            </div>
        </div>
        <!--채팅 입력-->
        <div class="d-flex justify-content-center  col third-section" id="textBox" style="height: 10%;">
            <textarea class="form-control" id="inputMsg"></textarea>
            <button class="btn btn-primary mx-2" id="msgBtn" onclick="send()">send</button>
        </div>
    </div>
    
    <script src="/javascripts/lib/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/chat.js"></script>
</body>
</html>