

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

    <title> WELCOME || real-time conversation!</title>
</head>
<body>
    <div class="container vh-100 d-flex justify-content-center align-items-center h-100">
        <div>
            <button class="btn btn-primary mx-2" onclick="makeChattingRoom()">채팅방 개설</button>
            <button class="btn btn-primary mx-2" onclick="enterChattingRoomView()">채팅방 입장</button>
        </div>
    </div>
    <script src="/javascripts/lib/jquery.min.js"></script>
    <script src="/javascripts/index.js"></script>
</body>
</html>