

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('/font/NanumSquareNeo-Variable.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'NanumSquareNeo-Variable';
}


li {
    list-style-type: none;
    margin: 0.25rem 0 0.25rem 0;
    clear : both;
    
}

.myContainer {
    float: right;
    margin: 0.25rem 0 0.25rem 0;
}

